<!-- TickleApps Navbar Reference Partial -->
<nav class="navbar navbar-expand-lg ta-navbar fixed-top" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand ta-brand" href="/">
      <!-- Uncomment when logo is available -->
      <!-- <img src="https://tickleapps.com/assets/images/logo.png" alt="TickleApps" height="30" class="me-2"> -->
      <span><span class="ta-brand-tickle">Tickle</span><span class="ta-brand-apps">Apps</span></span>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#taNav" aria-controls="taNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="taNav">
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/apps/">Apps</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/vision/">Vision</a></li>
        <li class="nav-item"><a class="nav-link" href="/mission/">Mission</a></li>
        <li class="nav-item ms-lg-2"><a class="btn btn-coral" href="/contact/">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
